# Backend
backend/node_modules/
backend/.env
backend/prisma/migrations/
backend/package-lock.json

# Frontend
frontend/node_modules/
frontend/dist/
frontend/package-lock.json

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
